
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I KNOW YOU</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style.css"/>
</head>
<script>
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function (e) {e.preventDefault()};
</script>

<style>
    .load-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loader {
      border: 16px solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      border-top: 16px solid #3498db62;
      width: 40px;
      height: 40px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>


<body>

<div class="bodi">
    <section>
        <div class="container">
             <h1>Loading...</h1> 
             <div class="load-container">
             <div class="loader"></div> 
             </div> 
         </div>
     </section>
</div>

</body>
</html>