@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Roboto:wght@500;700&display=swap");

:root {
    --clr-text: hsl(0, 0%, 100%);
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
  }

body {
    background: rgba(13,12,12,1);
    background: radial-gradient(
      circle,
      rgba(115, 12, 50, 1) 5%,
      rgba(13, 12, 12, 1) 60%
    );
    min-height: 100vh;
    overflow: hidden;
  }

  #body{
    display: none;
  }

  .bodi{
    margin-top: 15%;
  }

  .navbar{
    max-width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .navbar h1{
    size: 2rem;
    font-weight: 600;
    color: #dda3b6;
  }

  .navbar-brand h1{
    size: 2rem;
    font-weight: 600;
    color: #dda3b6;
  }

  .users-menu h1{
    size: 2rem;
    font-weight: 600;
    color: #dda3b6;
    font-family: Tahoma;
    margin: 20px;
  }

  .navbar-item {
    text-decoration: none;
    color: var(--clr-text);
    margin-right: 5px;
    font-size: 30px;
    opacity: 0.65;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.35s ease;
    padding: 5px;
  }

  .navbar-item:hover{
    opacity: 1;
  }
  
  .navbar-item:focus {
    outline: none;
  }

  #gears:hover{
    transform: rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg); 
    -o-transform:rotate(360deg);
  }

  .gear-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(189, 181, 181, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    margin-top: 58px;
    width: 200px;
    z-index:1000;
    color: var(--clr-text);
    overflow-y: auto;
  }

  .users-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(189, 181, 181, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    margin-top: 58px;
    width: 230px;
    z-index:1000;
    color: var(--clr-text);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .profile-pic {
    margin: 10px 30px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }

  .gear-menu h3{
    size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #dda3b6;
    margin: 10px 0 40px;
  }

  .user-button{
    color: var(--clr-text);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 0.55;
  }

  .logout-button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 0.55;
    background-color: rgba(255, 0, 0, 0.782);
    color: var(--clr-text);
  }

  .logout-button:hover{
    opacity: 1;
    cursor: pointer;
  }

  .user-button:hover{
    opacity: 1;
  }

  .user-logout{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 40px;
    padding: 10px;
  }


  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px;
  }

  .container {
    background: rgba(189, 181, 181, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 30px 0;
    width: min(1000px, 100%);
  }

.container h1{
  size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #dda3b6;
  margin: 5px 0 10px;
}

.swiper {
    width: 90%;
    height: 100%;
    margin-bottom: 30px;
  }
  
  .swiper-scrollbar {
    --swiper-scrollbar-bottom: 0;
    --swiper-scrollbar-drag-bg-color: #dda3b6;
    --swiper-scrollbar-size: 5px;
  }

  .post {
    max-width: 700px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-text);
    background: rgba(236, 149, 200, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 16px 16px 0;
    margin-bottom: 16px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .post-img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 4/3;
    border-radius: 6px;
    user-select: none;
    pointer-events: none;
  }

  swiper-container {
    width: 100%;
    margin: 10px;
  }

  .post-detail{ 
    margin-left: 5px;
  }

  .post-body {
    display: grid;
    grid-template-columns: 15% 60% 20%;
    align-items: center;
    gap: 8px;
    padding: 15px 0;
    cursor: default;
  }
  
  .post-name {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  }

  .post-avatar {
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }

  .post-author {
    width: fit-content;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0.6;
    color: var(--clr-text);
  }

  .post-actions {
    position: relative;
  }
  
 .post-like {
    text-decoration: none;
    color: var(--clr-text);
    margin-right: 5px;
    font-size: 30px;
    opacity: 0.65;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.35s ease;
    padding: 5px;
  }

.post-like:hover{
  opacity: 1;
}

.post-btn {
  border: none;
  margin-right: 5px;
  font-size: 30px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.35s ease;
  padding: 5px;
  background-color: #dda3b6;
  cursor: pointer;
}

.post-btn:hover{
  opacity: 0.5;
}

.post-like:focus {
  outline: none;
}

.post-like:active {
  color: rgb(255, 0, 0);
  opacity: 1;
  transform: scale(1.2);
}

.sender{
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.options{
  display: none;
  z-index: 1000;
  position: absolute;
  padding: 5px;
  background: rgba(189, 181, 181, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  bottom: 10%;
  width: 100%;
}

.options-icon{
display: flex;
justify-content: space-between;
}

.options i{
font-size: 20px;
margin: 10px;
cursor: pointer;
}

.textarea{
  width: 75%;
  max-width: 75%;
  max-height: 100px;
  border-radius: 10px;
  background: transparent;
  color: var(--clr-text);
  margin: 5px;
  background: rgba(189, 181, 181, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
  padding: 5px;
}

.attach{
width: 7%;
max-width: 10%;
  border-radius: 50px;
  padding: 5px;
  background-color: #0a0406;
  position: absolute;
  bottom: 0;
  right: 15%;
  margin: 5px;
  color: var(--clr-text);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.attach i{
  font-size: 20px;
  color: var(--clr-text);
}

.send{
  width: 10%;
  max-width: 10%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #dda3b6;
  position: absolute;
  bottom: 0;
  right: 0%;
  margin: 5px;
  cursor: pointer;
}

.send i{
  font-size: 20px;
}

.chatzone{
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  min-height: 400px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
  overflow-y: auto;
}

.alert-mess{
  background: rgba(189, 181, 181, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 50%;
  float: inline-start;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

.alert-user{
  background: rgba(7, 7, 6, 0.97);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 50%;
  float: inline-end;
  padding: 5px;
  border-radius: 5px;
  color: var(--clr-text);
}

/* MEDIA QUERIES */

@media (max-width: 1200px) { 
    .swiper {
        width: 80%;
      }
  }
  
  @media (max-width: 900px) {
    .swiper {
      width: 50%;
    }

    .users-menu{
      display: none;
    }

    .gear-menu{
      display: none;
     }

     .chatzone{
      height: 75vh;
      border-bottom: none;
    }

    section{
      padding: 0;
    }

    .container{
      background: transparent;
      border: none;
      height: 100%;
      width: 100%;
      padding: 0;
    }

    .attach{
      background: none;
      border: none;
    }

  }
  
  @media (max-width: 765px) {
    .navbar{
        border-bottom: 2px solid #dda3b6;
    }

    .swiper {
      width: 80%;
    }

    .users-menu{
      display: none;
    }

    .gear-menu{
      display: none;
     }

     .bodi{
      margin-top: 50%;
    }

    section{
      padding: 0;
    }

    .container{
      background: transparent;
      border: none;
      height: 100%;
      width: 100%;
      padding: 0;
    }

    .chatzone{
      height: 75vh;
      border-bottom: none;
    }

    .attach{
      background: none;
      border: none;
    }
  }
  
  @media (max-width: 550px) {
  
    .navbar{
        border-bottom: 2px solid #dda3b6;

    }

    .container{
        background: transparent;
        border: none;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .swiper {
      width: 90%;
      height: 100%;
    }

    .users-menu{
      display: none;
    }

    .gear-menu{
     display: none;
    }

    .bodi{
      margin-top: 50%;
    }

    section{
      padding: 0;
    }

    .chatzone{
      height: 75vh;
      border-bottom: none;
    }

    .attach{
      background: none;
      border: none;
    }
  }